
{%extends 'base.html'%}
{%block title%}List of TODOS{%endblock%}
{%block body_block%}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <table class="table">
            <tr>
                <th>Task name</th>
                <th>User</th>
                <th>Status</th>
                <th>Created date</th>
                <th>Action</th>
            </tr>
            
            {%for todo in todos%}
            <tr>
                <td>{{todo.task_name}}</td>
                <td>{{todo.user}}</td>
                <td>{{todo.status}}</td>
                <td>{{todo.created_date}}</td>
                <td class="display">
                    <a href="{% url 'todo-detail' todo.id %}" class="btn btn-info m3">View</a>
                    <a href="{% url 'todo-delete' todo.id %}" class="btn btn-danger m3">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <div class="col-3"></div>
</div>

{%endblock%}